body{
	background: #ff80aa;
	font-family: Helvetica;
	color: #f2f2f2;
	margin-left: 10px;
}

table{
	table-layout: fixed;
	width: 95%;
	margin-left: 10px;
	border: 1px double #f2f2f2;
	border-collapse: collapse;
	margin-right: 200px;
}

th{
	background-color: #e6e6e6;
	text-align: left;
	margin-left: 8px;
	border: 1px double #B0B0B0;
	height: 30px;
}


td{
	background-color: #eff3f6;
	text-align: left;
	margin-left: 8px;
	height: 25px;
	border: 1px double #B0B0B0;
}

th, td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 85%;
  color: #ff0055;
}

h1, h2{
	font-family: Helvetica;
	color: #f2f2f2;
	margin-left: 10px;

}

